.section {
display: grid;
    grid-template-columns: 1fr auto 1fr; 	
    width: 100%;
}

.pageIndicator {
	display: flex;
	justify-content: center;
	align-items: center;
grid-column: span 3;
    width: 100%;
}

.mainInformation {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.logo {
	width: 150px;
	height: 150px;
	border: 2px solid var(--primary-color);
	border-radius: var(--standard-border-radius);
}

.information {
text-align: center;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

.star {
	color: rgb(255, 213, 79);
}

.ratingValue {
	color: rgb(255, 213, 79);
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 300px;
	gap: 10px;
}
